[2022-09-22 03:44] SaptarshiSarkar12 opened #1 "[FEATURE] Add support for downloading YouTube videos"
**Describe the solution you'd like**
Currently, the application shows HTTP proxy error while downloading an YouTube video. So, I want to have the application support for downloading YouTube videos. Anyone can contribute, just leave a comment and I will assign you with the task. Please link this issue to your PR.

**Additional context**
Refer to the `FileDownloader.java` file to see how it download

[2022-09-22 09:22] SaptarshiSarkar12 commented on #1
Anyone interested to contribute and solve the issue should at first comment then I would assign them with the task. Multiple assignees can be there.

[2022-09-27 12:30] aswinikalyan30 commented on #1
Hey, can i take this up?

[2022-09-27 12:35] SaptarshiSarkar12 commented on #1
Please link this issue to your PR.

[2022-09-28 03:51] SaptarshiSarkar12 opened #4 "[FEATURE] Making a gui version of Drifty"
**Is your feature request related to a problem? Please describe.**
It's not always loved by users to use console applications, rather they find much interest in using GUI (Graphical User Interface) version of any application.

**Describe the solution you'd like**
We nees to build a GUI version of the application. We can use JavaFX or swing for that purpose.

**Additional context**
Contributors who

[2022-09-28 04:54] devilkiller-ag commented on #4
Hey can I take this up?

[2022-09-28 08:33] SaptarshiSarkar12 commented on #4
Yes @devilkiller-ag . But, please ensure that you link this issue to your Pull Request.

[2022-09-28 09:01] SaptarshiSarkar12 opened #5 "[FEATURE] Add progress bar for Drifty"
**Is your feature request related to a problem? Please describe.**
The user gets impatient when a large file is being downloaded but the application doesn't display how much percent of the file has been downloaded / left . They simply think that the application has become unresponsive and creates a negative impact on the user.

**Describe the solution you'd like**
A progress bar which will show ho

[2022-09-28 14:09] m9m commented on #5
Hello! I would like to be assigned.

[2022-09-29 02:48] SaptarshiSarkar12 opened #6 "[FEATURE] Adding support for multiple download URLs as input"
**Is your feature request related to a problem? Please describe.**
The users in most cases have to download more than one file, so, in the [current version of Drifty](https://github.com/SaptarshiSarkar12/Drifty/releases/tag/v1.0.0), the user can enter maximum one download link and after the file has been downloaded, the application closes.

**Describe the solution you'd like**
The solution to this

[2022-09-29 06:20] SaptarshiSarkar12 opened #7 "[FEATURE] Make a website for the documentation of Drifty"
**Is your feature request related to a problem? Please describe.**
People don't always like to read Documentation from Readme. They want some website which will have a visually appealing look and all the sufficient details of using this application as well as support URLs.

**Describe the solution you'd like**
A website using html and css containing the documentation present in the README and a na

[2022-09-29 06:22] Shashwat0227 commented on #7
hey i can make this

[2022-09-29 06:23] Shashwat0227 commented on #7
i can make site , footers , nav bar and also add dark mode feature and all

[2022-09-29 06:24] SaptarshiSarkar12 commented on #7
Ok @Shashwat0227 . Assigning you with the task. Make sure that you link this issue to your PR.

[2022-09-29 06:26] Shashwat0227 commented on #7
thankyou

[2022-09-29 06:28] Shashwat0227 opened #8 "[FEATURE] ADDING DARKMODE TO THE SITE"
I can add dark mode with a button on the site

[2022-09-29 06:29] SaptarshiSarkar12 commented on #8
@Shashwat0227 do you want to work on this issue?

[2022-09-29 06:31] SaptarshiSarkar12 commented on #8
Assigned @Shashwat0227 . Make sure you link this issue to your PR.

[2022-09-29 07:02] akshatjainei commented on #6
I would like to fix this issue   , can you assign me this task

[2022-09-29 07:13] SaptarshiSarkar12 commented on #6
Yes @akshatjainei . Please make sure that you will link this issue to your PR.

[2022-09-29 07:35] avezqureshi14 commented on #7
Hello Sir, I can add all the features which are present in your requirements  and along with this I will make your site using REACT JS which will be scalable if you want to add any more future complex functionality , You can checkout my portfolio for my work regarding REACT JS [https://avezqureshi.netlify.app/](url)

[2022-09-29 08:19] SaptarshiSarkar12 commented on #7
@avezqureshi14 You will make the website using react containing the documentation in readme and @Shashwat0227 would modify it with some more items.
Ensure that you both will link this issue to your PRs which will help in tracking the progress of this application.

[2022-09-29 10:18] Shashwat0227 opened #9 "[FEATURE] can add social handles in the footer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-29 13:56] SaptarshiSarkar12 commented on #9
Thanks for this issue. I am assigning you with the task. **Please fill the issue template (atleast describe the feature in brief)**. Please ensure that you will link this issue to your PR .

[2022-09-29 14:12] SaptarshiSarkar12 commented on #7
@avezqureshi14 Can you make the website using react **by 4th October** ?

[2022-09-29 14:55] Anuran12 commented on #8
Hi @Shashwat0227 can you please assign it to me?

[2022-09-29 15:30] Anshuman047 commented on #8
Hey @Shashwat0227 , could I contribute in this issue..?

[2022-09-29 16:12] Shashwat0227 commented on #9
on the site which is being made i can add all the social handles of yours with the tag of that social handle and it will look good only

[2022-09-29 16:42] SaptarshiSarkar12 commented on #9
@Anshuman047 , @Shashwat0227 is already assigned with the task. So, you may modify it if required afterwards. Or, you may open an issue for any new feature that you want to include or a bug that you have discovered.

[2022-09-30 03:19] SaptarshiSarkar12 opened #10 "[FEATURE] Adding the image of Drifty using characters, in the first line of the console"
**Describe the solution you'd like**
I want to add an image of Drifty (might be logo) printed using characters, for the first line of the console.

**Additional context**
Refer to [`this`](https://images.app.goo.gl/s2Df3KuydDnmtHSJ8) image. Here, the logo of the app is printed in the console. Similar thing needs to be done with Drifty.
Contributors who want to take over this issue should at first

[2022-09-30 03:32] itshypon opened #11 "[BUG] Failed to create the directory in default download folder"
**Describe the bug**
When the application asks us to download file in default downloads folder and we type 'Y'. It generates error as : 'Failed to create the directory'

**To Reproduce**
Steps to reproduce the behavior:
1. Download the application at Desktop and open it.
2. Enter the link to the file, take any image from google.
3. Press Y when asking for default downloads folder.
4. A message wil

[2022-09-30 03:33] itshypon commented on #10
I would like to work on this issue. Thanks !

[2022-09-30 03:45] SaptarshiSarkar12 commented on #11
If anyone wants to resolve this bug, should comment here and I will assign them with the task.

[2022-09-30 03:47] SaptarshiSarkar12 commented on #10
Ok @itshypon , assigning you with the task. Please link this issue to your PR.

[2022-09-30 04:50] FireNdIce3 commented on #11
Hi there! Can I work on this issue?

[2022-09-30 09:23] SaptarshiSarkar12 commented on #11
Yes @FireNdIce3 . Please link this issue to your PR.

[2022-09-30 10:08] thexahmed00 commented on #6
I want to take this issue and I am very new to opensource

[2022-09-30 10:22] thexahmed00 commented on #10
I would like to take this issue can you assign me, please? this will be my first pull request I'll be grateful :)

[2022-09-30 12:16] SaptarshiSarkar12 commented on #6
This work is about to complete. So, @thexahmed00 you may open other issues and contribute to those.

[2022-09-30 12:21] SaptarshiSarkar12 commented on #10
Sorry, the work has been competed by the contributor. So, after the PR for this issue is approved, i shall review your PR (#12 ).

[2022-09-30 12:24] SaptarshiSarkar12 commented on #8
As the code is a small, so, @Shashwat0227 wants to do it by himself.
@Anuran12 @Anshuman047 You may open an issue requesting for a feature and you may contribute to those. I would assign you then.

[2022-09-30 12:26] thexahmed00 commented on #10
Have a look I have created an Ascii Art
![image](https://user-images.githubusercontent.com/58472920/193269146-4ebcc367-dc82-466b-94d1-8e7d3860b010.png)

[2022-09-30 12:27] SaptarshiSarkar12 commented on #10
Ok @thexahmed00, yes it's a nice one.

[2022-09-30 12:30] SaptarshiSarkar12 commented on #10
@thexahmed00 you can still modify the banner that @itshypon will add through his PR, using another PR. Then, let me see which one is nice.

[2022-09-30 12:37] thexahmed00 commented on #10
what modification has to be done @SaptarshiSarkar12 pls let me know

[2022-09-30 12:39] SaptarshiSarkar12 commented on #10
@thexahmed00
Once @itshypon 's PR gets merged, if you think that the banner needs some change,  you can open a PR to include those changes.

[2022-09-30 12:39] thexahmed00 commented on #10
ok

[2022-09-30 12:41] SaptarshiSarkar12 commented on #10
@thexahmed00 please open an issue at first and then link that issue with your PR. This helps me to properly track the progress of Drifty.

[2022-09-30 13:00] ChiefArug opened #13 "[FEATURE] Allow inputting the requested parameters as program arguments"
**Is your feature request related to a problem? Please describe.**
Currently you have to manually put in each argument as the program asks for them, this would allow inputting some or all of them as program arguments.

**Describe the solution you'd like**
Allow passing the various inputs it asks for as program arguments. They should be input in the same order as asked for, so `link fName downloads

[2022-09-30 13:06] thexahmed00 opened #14 "[FEATURE] ANSI COLOR similar to logo"
#12

[2022-09-30 13:07] thexahmed00 commented on #14
#12

[2022-09-30 13:18] thexahmed00 opened #15 "[FEATURE] URL checks are required"
### Check for user input
whenever the user inputs a **link** drifty should check if it is in proper URL format or not
for eg.
_Enter the link to the file: fs_
**prompt: enter a valid URL**

[2022-09-30 13:22] SaptarshiSarkar12 commented on #15
@thexahmed00 thanks for this issue. It's a great issue.
If anyone wants to work on this issue, please commemt below. I would assign you with the task.

[2022-09-30 13:27] SaptarshiSarkar12 opened #16 "[FEATURE] Create a feature to make log files for Drifty"
**Is your feature request related to a problem? Please describe.**
A log file helps to better maintain what error has occurred or the request has been processed successfully.

**Describe the solution you'd like**
A feature to automatically generate log file when the application runs.

Contributors who want to take over this issue should at first comment below and then I will assign them with the t

[2022-09-30 13:56] SaptarshiSarkar12 commented on #7
@avezqureshi14 Please reply

[2022-09-30 13:58] SaptarshiSarkar12 commented on #8
@Anuran12 @Anshuman047 You may work on some new issues just started (#16, #15 and #13 )

[2022-09-30 16:24] SaptarshiSarkar12 commented on #15
Ok @akshatjainei . Assigning you. Please make sure that you will link this issue to your PR.

[2022-09-30 16:32] thexahmed00 commented on #16
I would like to work on this

[2022-09-30 16:42] Rishav-12 commented on #13
hey @SaptarshiSarkar12 can I take this up? Let me know

[2022-09-30 16:47] SaptarshiSarkar12 commented on #16
Ok @thexahmed00 . Please link this issue to your PR.

[2022-09-30 16:48] SaptarshiSarkar12 commented on #13
Yes @Rishav-12 . Please make sure that you will link this issue to your PR.

[2022-09-30 17:17] SaptarshiSarkar12 commented on #7
As @avezqureshi14 is not replying and @Shashwat0227 is interested to make the website using html, css etc., so, i am assigning him this task. @Shashwat0227 Please link this issue with your PR.

@avezqureshi14 if you want you may open another PR to modify the website by including React.

[2022-10-01 07:40] Shashwat0227 commented on #7
made the site check em once

[2022-10-01 08:02] SaptarshiSarkar12 commented on #7
ok @Shashwat0227 .

[2022-10-01 08:15] Shashwat0227 commented on #7
hey can you accept it so that it displays on my hacktoberfest site , and after that i can proceed further with adding footers and other modifications

[2022-10-01 08:18] SaptarshiSarkar12 commented on #7
ok @Shashwat0227

[2022-10-01 10:03] thexahmed00 commented on #16
Bro file will be created in log folder under project folder.If you restart IntelliJ you will see or you can use file explorer.

[2022-10-01 10:10] SaptarshiSarkar12 commented on #16
@thexahmed00 The file is not created after I rerun the app

[2022-10-01 10:18] thexahmed00 commented on #16
I’ll check

[2022-10-01 10:19] SaptarshiSarkar12 commented on #16
ok @thexahmed00 . Then,please make changes after pulling the latest code.

[2022-10-01 11:30] SaptarshiSarkar12 commented on #16
@thexahmed00 I have successfully removed dependencies (log4j) and have made a program myself which adds the logging functionality. [You may have a look at it](https://github.com/SaptarshiSarkar12/Drifty/blob/master/src/CreateLogs.java) and if required, you may modify that, through another PR.

[2022-10-01 12:51] #5 closed

[2022-10-01 12:51] #6 closed

[2022-10-01 13:07] SaptarshiSarkar12 commented on #16
@thexahmed00 I am closing this, but may reopen if you or anyone wants to modify Log functionality

[2022-10-01 13:07] #16 closed

[2022-10-01 14:03] SaptarshiSarkar12 commented on #4
@devilkiller-ag how much is the work done?

[2022-10-01 14:06] SaptarshiSarkar12 commented on #1
@aswinikalyan30 how much is the work done?

[2022-10-01 14:31] #15 closed

[2022-10-01 15:23] thexahmed00 opened #24 "[BUG] NumberFormatException after inputs"
**Exception Occur**

**To Reproduce**
Steps to reproduce the behavior:
1. run Drifty_CLI
2. give Inputs
3. choose either Y or N
4. See error

**Expected behavior**
Should give download logs and Success and location of the file

**Screenshots**
![image](https://user-images.githubusercontent.com/58472920/193416446-5868ed12-bd56-42e3-a3df-594f6c423019.png)

[2022-10-01 16:36] SaptarshiSarkar12 commented on #24
Thanks @thexahmed00 for reporting the bug.
If anyone wants to work on this issue, please comment below and I shall assign you with the task.

[2022-10-01 16:37] SaptarshiSarkar12 commented on #24
@thexahmed00 are you using MAC OS?

[2022-10-01 18:12] aryan-upa commented on #24
Hey, I am working on this. Can you assign this issue to me?

[2022-10-01 19:05] Rishav-12 commented on #13
Hey, I'm sorry but I think I won't be able to do this since my code breaks for some reason and I'm not willing to dive too much into these errors. So I'll unassign myself, if anyone else wants to take this up feel free

[2022-10-01 20:29] Shashwat0227 opened #26 "can add the image of Drifty working on the website itself"
**Describe alternatives you've considered**
Adding background image to the website of Drifty.

[2022-10-01 20:30] Shashwat0227 commented on #26
can add background img to the site of the working of drifty to the site itself

[2022-10-02 02:58] SaptarshiSarkar12 commented on #13
Ok @Rishav-12 .
If anyone wants to work on this issue, please comment below and I shall assign you with the task.

[2022-10-02 02:59] SaptarshiSarkar12 commented on #26
Yes @Shashwat0227 you can.

[2022-10-02 03:00] SaptarshiSarkar12 commented on #26
@Shashwat0227 do you want to work on this issue?

[2022-10-02 03:02] SaptarshiSarkar12 commented on #24
Sure @thexahmed00 . Assigning you with the task. Ensure that you will link this issue to your PR.

[2022-10-02 04:54] SaptarshiSarkar12 commented on #11
@FireNdIce3 how far is the work done?

[2022-10-02 04:55] SaptarshiSarkar12 commented on #4
@devilkiller-ag Please provide some updates about your work.

[2022-10-02 05:05] Shashwat0227 commented on #26
yes i will do it for sure

[2022-10-02 05:53] SaptarshiSarkar12 commented on #26
Ok @Shashwat0227 . Please make sure that you will link this issue to your PR.

[2022-10-02 06:55] Anurag-Bharati opened #28 "[FEATURE] Option to preserve original file name and extension."
**Is your feature request related to a problem? Please describe.**
Naming a file everytime is a bit inconvenient for me. Sometimes, I'd like to preserve the original file name. Having a default naming and manual naming option would be handy.

**Describe the solution you'd like**
A simple name scrap function for the file name would be preferable. This function takes a link as a String and searches

[2022-10-02 06:56] SaptarshiSarkar12 commented on #28
Great feature inclusion idea @Anurag-Bharati . Thanks for this.
If anyone wants to work on this issue, please comment below and I shall assign you with the task.

[2022-10-02 07:04] m9m commented on #28
This is implemented since [Pulll reuest 22](https://github.com/SaptarshiSarkar12/Drifty/pull/22). Leave the filename option blank, and the default filename from the download link will be preserved. However, there is not an option to name based off the current time.

[2022-10-02 07:09] SaptarshiSarkar12 commented on #28
Ok @m9m . Then, the PR #29 is going to enable the option to choose whether to preserve the file name or not.

[2022-10-02 07:14] #28 closed

[2022-10-02 07:15] Shashwat0227 commented on #9
hey i added the footers and social
check it

[2022-10-02 07:22] #9 closed

[2022-10-02 07:24] #14 closed

[2022-10-02 07:39] aryan-upa commented on #11
Hey, I've solved the issue, can you assign this to me.

[2022-10-02 07:40] m9m commented on #4
Hello, I would also like to be assigned. The scope of what I would do is a basic JavaFX GUI that can be expanded on later.

[2022-10-02 07:44] SaptarshiSarkar12 commented on #4
Ok  as @devilkiller-ag is not responding,  i am assigning this task to @m9m . If @devilkiller-ag wants to modify the GUI that will be made by @m9m , then you may open another issue and a PR for that.

[2022-10-02 07:46] SaptarshiSarkar12 commented on #11
Let me first get some updates from @FireNdIce3 . If @FireNdIce3 does not respond, then , i shall assign you.
@aryan-upa You may open the PR, i shall review it.

[2022-10-02 08:53] Anurag-Bharati commented on #13
I can work on this.

[2022-10-02 08:57] SaptarshiSarkar12 commented on #11
@FireNdIce3 Please respond

[2022-10-02 08:58] SaptarshiSarkar12 commented on #13
Okay, assigning you with the task. Please link this issue to your PR

[2022-10-02 09:36] SaptarshiSarkar12 commented on #24
@aryan-upa How much is the work done? It is a severe problem, so needs an immediate fix.

[2022-10-02 09:50] thexahmed00 commented on #24
@SaptarshiSarkar12 revert commits in filedownloaded file cuz previously it was working fine

[2022-10-02 10:15] Shashwat0227 opened #32 "[BUG] site darkmode and the above the header thing , needs to be improved"
i can fix that please assign me

[2022-10-02 10:33] SaptarshiSarkar12 commented on #24
ok @thexahmed00 let me check

[2022-10-02 10:34] SaptarshiSarkar12 commented on #32
ok @Shashwat0227 . You may start the work

[2022-10-02 10:57] akshatjainei opened #33 "[BUG] JNI ERROR"
Error in the new release of Drifty

*To Reproduce*
Steps to reproduce the behavior:
1. Go to 'https://github.com/SaptarshiSarkar12/Drifty/raw/master/Drifty_CLI.exe'
2. Download Drifty for Windows
3. See error

[2022-10-02 10:58] SaptarshiSarkar12 commented on #24
@aryan-upa I have successfully fixed this bug by replacing ```totalSize = Long.valueOf(openConnection.getHeaderField("content-length"));``` with ```totalSize = openConnection.getContentLength();``` .
Thus, I am closing this issue as it has been fixed.

[2022-10-02 10:58] #24 closed

[2022-10-02 10:59] SaptarshiSarkar12 commented on #33
Thanks @akshatjainei for the bug report. If anyone wants to work on this bug, please comment below and I would assign you with the task.

[2022-10-02 11:36] aryan-upa commented on #24
oh ok!

[2022-10-02 12:16] BoseSj commented on #33
Getting this while trying to download and install it.
![image](https://user-images.githubusercontent.com/58129377/193453468-4877de33-ff1c-4855-a15b-074eca17eb72.png)

[2022-10-02 12:19] BoseSj commented on #33
I would like to work on this issue @SaptarshiSarkar12 . But first I need to understand it. Can you help me by telling me exactly what is the issue you r getting @akshatjainei  ? Is this that error faced while downloading? or something else?

[2022-10-02 12:56] #11 closed

[2022-10-02 13:08] akshatjainei commented on #33
@BoseSj I got that error after I downloaded it , It said JNI error on CLI

[2022-10-02 13:11] akshatjainei commented on #33
![Screenshot (105)](https://user-images.githubusercontent.com/93882347/193455789-373ffb5e-9f8b-45a9-aade-fce05785ef91.png)
@BoseSj

[2022-10-02 13:14] SaptarshiSarkar12 commented on #33
@BoseSj @akshatjainei Please check if the bug has been resolved by downloading the latest CLI executable present.

[2022-10-02 13:24] SaptarshiSarkar12 commented on #33
Have you checked @akshatjainei ?

[2022-10-02 13:40] BoseSj commented on #33
@SaptarshiSarkar12 it is working fine in my system.

[2022-10-02 13:43] akshatjainei commented on #33
@SaptarshiSarkar12 Yup works fine in my system as well

[2022-10-02 13:45] BoseSj commented on #33
@SaptarshiSarkar12 about this, I would like to update the documentation/installation instruction. I think its necessary to avoid confusion for the users.

[2022-10-02 13:59] SaptarshiSarkar12 commented on #33
@BoseSj Please see if this occurs now for v1.1.0.

[2022-10-02 14:00] SaptarshiSarkar12 commented on #33
If yes, then please open a new issue and we would continue the discussion there.

[2022-10-02 14:01] SaptarshiSarkar12 commented on #33
Closing this issue as it has been fixed.

[2022-10-02 14:01] #33 closed

[2022-10-02 15:33] #32 closed

[2022-10-02 15:39] SaptarshiSarkar12 commented on #8
Closing this as it is completed (#35).

[2022-10-02 15:40] #8 closed

[2022-10-02 16:51] SaptarshiSarkar12 commented on #1
@aswinikalyan30 please respond

[2022-10-02 16:54] #13 closed

[2022-10-02 18:08] SaptarshiSarkar12 commented on #33
@BoseSj Please respond. Does this occur?

[2022-10-02 18:11] BoseSj commented on #33
The error you mean in CLI?

[2022-10-02 18:13] SaptarshiSarkar12 commented on #33
@BoseSj no, not about the error.

About this one.

[2022-10-02 18:14] SaptarshiSarkar12 commented on #33
This one

[2022-10-02 18:14] BoseSj commented on #33
Oh, yeah it did.

[2022-10-02 18:16] SaptarshiSarkar12 commented on #33
Then please open an issue for that. The doc also need to mention about this.

[2022-10-02 18:16] BoseSj commented on #33
About that, I was proposing a change in the documentation.

[2022-10-02 18:17] SaptarshiSarkar12 commented on #33
Please do it.

[2022-10-02 18:17] BoseSj commented on #33
Ok I am on it.

[2022-10-02 18:18] SaptarshiSarkar12 commented on #33
@BoseSj please open an issue at first

[2022-10-02 18:21] BoseSj opened #37 "Getting unsafe warning while downloading .exe file"
# Description
Getting "Unsafe" warning while downloading the Drifty_CLI.exe
![image](https://user-images.githubusercontent.com/58129377/193469740-65699ccb-e1c2-42c8-b9c1-83dd96f152a5.png)

**OS**: Windows
**Browser**: MS Edge

[2022-10-02 18:23] BoseSj commented on #33
Cool! I have.

[2022-10-02 18:25] SaptarshiSarkar12 commented on #33
Ok , all discussions regarding that issue shal be made in #37 .

[2022-10-02 18:26] BoseSj commented on #37
It's not really an issue, as one can see the reason for it's occurrence is well provided
![image](https://user-images.githubusercontent.com/58129377/193469912-eb604b4f-661f-43b6-bb6f-17765afc40a8.png)

[2022-10-02 18:27] SaptarshiSarkar12 commented on #37
Do you want to work on this issue? @BoseSj

[2022-10-02 18:27] BoseSj commented on #37
Yeah! Why not, I would love to.

[2022-10-02 18:28] SaptarshiSarkar12 commented on #37
Ok @BoseSj .

[2022-10-02 18:37] SaptarshiSarkar12 commented on #37
This occurs because the jar file from which I jave created this .exe file needs to be signed. I have done that too, but, it is still not fixing. Probably because the signing certificate is self-signed. So, improving documentation is the only way to fix it as of now.

[2022-10-02 18:39] BoseSj commented on #37
Yes. Talking about that. Also user could report it to be safe, and as as owner you can too...

![image](https://user-images.githubusercontent.com/58129377/193470471-5fda7ace-bb2e-4193-914e-067ec0eae64e.png)

[2022-10-02 18:45] SaptarshiSarkar12 commented on #37
Ok, please send the link

[2022-10-02 18:49] BoseSj commented on #37
- Try to download it.

![image](https://user-images.githubusercontent.com/58129377/193470882-ececa3eb-5f47-4bc6-b850-39e916516162.png)

- Tap on the three dots > then on "Keep"

![image](https://user-images.githubusercontent.com/58129377/193470909-ea832116-45d2-4b53-81d8-2f39579a7311.png)

- Tap on "Show More"

![image](https://user-images.githubusercontent.com/58129377/193470921-de45f65c-cc98-42d

[2022-10-02 18:51] SaptarshiSarkar12 commented on #37
Ok shall do it. Thanks for that

[2022-10-02 18:51] BoseSj commented on #37
Or you can directly go to [Submit a file for malware analysis](https://www.microsoft.com/en-us/wdsi/filesubmission/). And submit it for analysis.

[2022-10-02 18:52] SaptarshiSarkar12 commented on #37
Also,
# EVERYONE (Contributors + Users)
Should report this application as safe. It would be a great help.

[2022-10-02 18:54] BoseSj commented on #37
Should I add this(the steps) directly in the README. So it would be easier for everyone to giving the feedback, and also all of it will be less confusing for them.

[2022-10-02 18:55] SaptarshiSarkar12 commented on #37
Yes @BoseSj

[2022-10-02 18:55] BoseSj commented on #37
Ok creating a PR.

[2022-10-02 18:58] BoseSj commented on #37
What should I name the section? For example, "Seeing warning while downloading", "Facing problem while downloading" etc.

[2022-10-03 03:11] SaptarshiSarkar12 commented on #37
@BoseSj i have checked your PR and the names of the sections seem right to me. As this problem has been fixed, I am closing this issue.

[2022-10-03 03:11] #37 closed

[2022-10-03 04:10] BoseSj commented on #37
Cool 😄! Can you please add `hacktoberfest-accepted` label to the PR? It'd b nice❤️

[2022-10-03 04:15] SaptarshiSarkar12 commented on #37
Oh, yeah, adding that.

[2022-10-03 05:50] Ublinix opened #39 "[FEATURE] Add a CLS function on Java using CMD"
**Description**
In the else if statement adding a cls to clear screen on command line

[2022-10-03 05:54] SaptarshiSarkar12 commented on #39
Great Idea @Ublinix . If anyone wants to work on this issue, please comment below. I would assign you with the task.

[2022-10-03 06:07] aswinikalyan30 commented on #1
Sorry, please assign to someone else.

[2022-10-03 06:11] SaptarshiSarkar12 commented on #1
Ok @aswinikalyan30 .
If anyone wants to work on this issue, please comment below and I would assign you with the task.

[2022-10-03 07:23] Fonta22 commented on #39
I'd like to work on this!

[2022-10-03 07:24] SaptarshiSarkar12 commented on #39
ok assigning @Fonta22 . Please link this issue to your PR.

[2022-10-03 08:14] SaptarshiSarkar12 commented on #10
@thexahmed00 If you want to modify the CLI banner, you may do so through another issue linked to your PR. I am closing this now.

[2022-10-03 08:14] #10 closed

[2022-10-03 08:22] poshi1865 commented on #1
@SaptarshiSarkar12 Hi! Can I take this up?

[2022-10-03 08:33] SaptarshiSarkar12 commented on #1
@poshi1865 Yes, assigning you. Please link this issue to your PR.

[2022-10-03 08:35] poshi1865 commented on #1
Yes will do, thank you!

[2022-10-03 10:51] Fonta22 commented on #39
@SaptarshiSarkar12 could you explain a little bit more in what would the issue consist? I don't really understand where/when the screen should be cleared.

[2022-10-03 10:55] SaptarshiSarkar12 commented on #39
When a single file has been downloaded and the user wants to download another file, the screen containing the details of the previous download should be cleared.

[2022-10-03 11:35] Fonta22 commented on #39
Okay, thanks!

[2022-10-03 15:58] akshatjainei opened #41 "[FEATURE] JS Modification"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

- Adding Downloader function for Windows and other
- Redirection for More Info
- Improving Scroll Behavior

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 16:04] SaptarshiSarkar12 commented on #41
ok @akshatjainei , assigning you. Please link this issue to your PR.

[2022-10-03 16:19] #39 closed

[2022-10-03 16:37] poshi1865 commented on #1
Hi, unfortunately something came up and I will be very busy for the next few days. I might get some time to work on this, but feel free to unassign me.

[2022-10-03 16:55] SaptarshiSarkar12 commented on #1
Ok @poshi1865 . You may continue your work.
**If anyone wishes to contribute to this project, feel free to comment below and I would assign you with the task.**

[2022-10-03 21:30] Pargat-Dhanjal opened #43 "[FEATURE] Improve the Website UI - Responsive"
### Is your feature request related to a problem? Please describe.

I would like to work on the entire Website UI and improve it as you can see that there are many things which don't work on the website as well as the UI design is not upto the mark. The Website is not resposive as well as there are many responsive bugs.

### Describe the solution you'd like.

I would like to work on the entire web

[2022-10-04 02:01] SaptarshiSarkar12 commented on #43
@Pargat-Dhanjal please wait till @Shashwat0227 open his PR as he is going to complete the basics of the website by today.

[2022-10-04 02:54] Waxer59 opened #44 "[BUG] Fix the navbar animation"
### Description

# Fix
* Navbar animation: the current navbar animation changes very abruptly #
* Change the cursor of the navbar elements to a pointer cursor

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-04 02:56] SaptarshiSarkar12 commented on #44
Thanks @Waxer59 for this issue, do you want to work on this issue?
Or, if anyone wants to work on it, can comment below and I shall assign you with the task.

[2022-10-04 03:02] #44 closed

[2022-10-04 03:04] SaptarshiSarkar12 commented on #44
@Waxer59 Please leave a star if you liked my project.

[2022-10-04 03:09] SaptarshiSarkar12 commented on #1
## If anyone wishes to contribute to this project, feel free to comment below and I would assign you with the task. Multiple assignees are allowed.

[2022-10-04 03:21] filipkujawa opened #46 "[BUG] Navigation on website does not lead to anywhere"
### Describe the bug

The Download Text on the Navbar does not do anything. This should be fixed to take the user to the download section of the page.

### Steps To Reproduce

1. Go to [`https://saptarshisarkar12.github.io/Drifty/`](https://saptarshisarkar12.github.io/Drifty/)
2. Click on the Download text in the Navigation bar

### Expected Behavior

I expect to be taken to a page where I can dow

[2022-10-04 03:25] #46 closed

[2022-10-04 03:28] SaptarshiSarkar12 commented on #7
@avezqureshi14 I am closing this issue, but, if you want, you may modify the website through another issue and PR.

[2022-10-04 03:28] #7 closed

[2022-10-04 05:15] anshulsoni4 opened #47 "[FEATURE] Want to change the font color for the first section"
### Is your feature request related to a problem? Please describe.

The current color of the section is white, it is not matching with the background color. So we can change it to a darker shade.

### Describe the solution you'd like.

I will change the font color to black or a darker shade of any color so that it is visible enough (when it is not in the dark mode)

### Application Version

v1.1.0

[2022-10-04 05:20] anshulsoni4 opened #48 "[FEATURE] Add heading to contact us section"
### Is your feature request related to a problem? Please describe.

There is no heading to the contact us section, we can add it.

### Describe the solution you'd like.

I will add heading = Contact Us, as it is looking like a footer but it is a contact us section

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 05:42] anshulsoni4 opened #49 "[DOCS] Edit CONTRIBUTING.md"
### How would you improve the documentation? Please describe.

edit the contributing.md file which is important for a project, as it tells us the Prerequisite, and steps to contribute to any project.

### Additional information

_No response_

[2022-10-04 06:00] SaptarshiSarkar12 commented on #49
@anshulsoni4 It's already present. Check here : https://github.com/SaptarshiSarkar12/Drifty/blob/master/CONTRIBUTING.md

[2022-10-04 06:01] SaptarshiSarkar12 commented on #48
Great! assigning you. Please link this issue to your PR.

[2022-10-04 06:02] SaptarshiSarkar12 commented on #47
Great! assigning you. Please link this issue to your PR.

[2022-10-04 06:02] anshulsoni4 commented on #49
Alright @SaptarshiSarkar12

[2022-10-04 06:03] anshulsoni4 commented on #49
@SaptarshiSarkar12 can I enhance it more ?

[2022-10-04 06:12] SaptarshiSarkar12 commented on #49
Yes, you can do so.

[2022-10-04 06:38] anshulsoni4 commented on #49
@SaptarshiSarkar12 thanks a lot

[2022-10-04 08:08] SaptarshiSarkar12 commented on #49
@anshulsoni4 Welcome

[2022-10-04 13:09] aryan-upa commented on #47
Hey assign me the task.

[2022-10-04 14:16] #26 closed

[2022-10-04 14:32] SaptarshiSarkar12 commented on #47
@anshulsoni4 is already assigned, so, @aryan-upa you may modify the changes through another PR and issues after it is merged.

[2022-10-04 15:28] aryan-upa commented on #47
I am working on the website, but it is more of a revamp. I am going to make it, and show it to all of you.

[2022-10-04 17:48] SaptarshiSarkar12 commented on #47
@aryan-upa Okay, you may do so through another issue and PR.

[2022-10-04 18:46] Waxer59 opened #52 "[BUG] FIX: all buttons' transitions & extra scroll"
### Description

# Fix
* All buttons except for the navbar have a very abrupt transition
* The page has an extra horizontal scroll due to the implementation of a video.
### If it's okay with you, I can arrange this and send you the PR.

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-04 19:06] anuragh2002 commented on #43
Hey @Pargat-Dhanjal @SaptarshiSarkar12 is this issue still open? Can you please assign it to me?

[2022-10-04 19:09] Pargat-Dhanjal commented on #43
@anuragh2002 I am asking himto assign me the issue. Can you please look up a new one?

[2022-10-04 20:23] aryan-upa opened #53 "[OTHER] Changed the look and feel of website."
### Description

Website's colour system and transitions were previously a bit odd. Changed them a bit.

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-04 20:27] aryan-upa commented on #53
#54

[2022-10-05 03:35] SaptarshiSarkar12 commented on #43
After @Pargat-Dhanjal has completed this work, @anuragh2002, you may modify this if you want, through another issue and a PR.

[2022-10-05 03:53] #48 closed

[2022-10-05 03:57] #52 closed

[2022-10-05 04:20] Ishika-jain commented on #1
Hey can you assign this to me?

[2022-10-05 04:21] SaptarshiSarkar12 commented on #1
Sure @Ishika-jain . Please link this issue with your PR .

[2022-10-05 07:24] anshulsoni4 commented on #47
@SaptarshiSarkar12 there are so many errors in this section of code
am closing this issue as it will consume so much time debugging it

[2022-10-05 07:25] #47 closed

[2022-10-05 08:51] SaptarshiSarkar12 commented on #47
Ok @anshulsoni4

[2022-10-05 08:52] SaptarshiSarkar12 commented on #47
Feel free to open a new issue and PR if you want to modify any part of this project. You may also file a bug report if you discover any.

[2022-10-05 09:21] anshulsoni4 commented on #47
sure sir
Thanks a lot @SaptarshiSarkar12

[2022-10-05 09:33] #41 closed

[2022-10-05 09:36] SaptarshiSarkar12 commented on #41
@akshatjainei Is this issue solved?

[2022-10-05 09:38] akshatjainei commented on #41
@SaptarshiSarkar12 whatever I was supposed to add , has already been done

[2022-10-05 10:58] SaptarshiSarkar12 commented on #41
Ok @akshatjainei . If you want to add anything new or want to change any part, you may open an issue and a PR for that.

[2022-10-05 17:57] SaptarshiSarkar12 commented on #43
@Pargat-Dhanjal The website has changed a lot. So, please have a check, pull the latest changes and then open your PR.

[2022-10-05 18:12] Pargat-Dhanjal commented on #43
@SaptarshiSarkar12 sure

[2022-10-05 19:31] Waxer59 opened #58 "[FEATURE] Navbar scroll"
### Is your feature request related to a problem? Please describe.

When you click on a link in the navbar it makes a very abrupt jump to the selected element,

### Describe the solution you'd like.

I think it would look better if instead it made a vertical scroll until you reach that element.
If you agree with my proposal I can implement these changes to the project

### Application Version

v1.

[2022-10-06 05:30] Anurag-Bharati opened #59 "[OTHER] Remaster the hero section and the nav bar of the website"
### Description

The website's current hero section and nav bar are good, but I want to up it.
I would like to redesign both.

### Application Version

v1.1.0

### Additional information

I also am planning to add animations and illustrations to the hero section.

[2022-10-06 06:07] SaptarshiSarkar12 commented on #58
@Waxer59 Do you want to work on this issue?

[2022-10-06 06:08] Waxer59 commented on #58
Sure!

[2022-10-06 06:09] SaptarshiSarkar12 commented on #58
Great ! @Waxer59 . Please link this to your PR.

[2022-10-06 06:10] SaptarshiSarkar12 commented on #59
Great @Anurag-Bharati! Please link this to your PR.

[2022-10-06 06:16] Waxer59 opened #60 "Changes to organize and fix parts of the website"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

* add semantic html to the footer
* fix the dark mode toggle ( Currently if you activate the bright mode and reload the page the darkmode toggle is inverted and causes you to have errors when changing themes. )
* delete unused css

### Application Version

v1.1.0

### Screensho

[2022-10-06 06:23] #60 closed

[2022-10-06 08:00] BoseSj opened #61 "Moving "Contributing" section after "Demo""
### How would you improve the documentation? Please describe.

It would be nice to move the `Contributing` section after the `Demo`, as done in all well-known project READMEs. As the page would refer to the Users before it will to the Potential Contributors.

### Additional information

_No response_

[2022-10-06 08:34] #61 closed

[2022-10-06 10:51] kailashchoudhary11 opened #63 "Clean Readme File"
### How would you improve the documentation? Please describe.

In the For Contributers section, there is no need to use `git init` command. I think just forking and cloning the repo will work.

### Additional information

_No response_

[2022-10-06 11:08] SaptarshiSarkar12 commented on #63
Oh, yeah @kailashchoudhary11. So, do you want to work on this issue?

[2022-10-06 11:54] kailashchoudhary11 commented on #63
Yes I would like to work on it with your guidance!

[2022-10-06 12:11] SaptarshiSarkar12 commented on #63
Ok @kailashchoudhary11 . Please link this issue to your PR.

[2022-10-06 12:22] SaptarshiSarkar12 commented on #1
@poshi1865 @Ishika-jain How much work has been done?

[2022-10-06 12:45] SaptarshiSarkar12 opened #64 "[FEATURE] Caching of images and other files in website"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

Caching the images and other such files for the website.

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

If anyone wants to work on this issue, please comment below and I shall assign you with the task.

[2022-10-06 17:45] poshi1865 commented on #1
Hi! Sorry I have been very busy, will get on this as soon as time allows

[2022-10-06 17:53] SaptarshiSarkar12 commented on #1
Ok @poshi1865 .
What about @Ishika-jain? How much has been completed?

[2022-10-06 22:11] c99SRS commented on #63
HI @SaptarshiSarkar12 Can I work on this?

[2022-10-06 22:13] c99SRS commented on #64
HI, @SaptarshiSarkar12 can you please assign this to me? We can discuss this before implementation

[2022-10-07 02:55] kailashchoudhary11 commented on #63
@c99SRS  I'm already working on it

[2022-10-07 02:55] SaptarshiSarkar12 commented on #63
@kailashchoudhary11 is working on this issue, so, @c99SRS you may modify the changes after his PR is merged or you may open an issue for a feature request or bug etc. and work on that.

[2022-10-07 03:23] kailashchoudhary11 commented on #63
@SaptarshiSarkar12 Will it be okay if I simply type the commands in a code block. Cause I don't really know how to make GIF. Maybe you could guide me a bit on it.

[2022-10-07 03:57] SaptarshiSarkar12 commented on #63
You can make terminal gif here -https://www.terminalgif.com/ .

[2022-10-07 03:57] saurabhcodes25 opened #67 "[DOCS] Enhancing/Improving the README file"
### How would you improve the documentation? Please describe.

Much needed grammatical improvements to the README.md file

### Additional information

_No response_

[2022-10-07 04:15] saurabhcodes25 commented on #67
#65

[2022-10-07 04:47] #67 closed

[2022-10-07 05:07] kailashchoudhary11 commented on #63
@SaptarshiSarkar12 Thank you! I have made the GIF. Now where should i host it?

[2022-10-07 06:48] psb27 commented on #58
If no body is working on this issue please assign this to me.

[2022-10-07 06:51] SaptarshiSarkar12 commented on #58
@Waxer59 is working on this.
@psb27 If you want you may modify that after his PR is merged, or you may open another issue for feature request or bug report etc.

[2022-10-07 06:58] #59 closed

[2022-10-07 07:37] kb-s opened #70 "[OTHER] Website README.md"
### Description

I want to add README.md file inside website folder.

### Application Version

v1.1.0

### Additional information

Please assign this issue to me

[2022-10-07 07:45] SaptarshiSarkar12 commented on #70
@kb-s Please specify the reason.

[2022-10-07 07:48] kb-s commented on #70
@SaptarshiSarkar12 reason for what?

[2022-10-07 07:48] Anurag-Bharati opened #71 "[OTHER] Rework on the contribute section."
### Description

The contribute section seems kinda empty at the moment. I would love to add more content and improve its appearance.

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-07 07:52] SaptarshiSarkar12 commented on #71
@Anurag-Bharati For the website?

[2022-10-07 07:53] Anurag-Bharati commented on #71
yes

[2022-10-07 07:54] SaptarshiSarkar12 commented on #71
Please link this issue to your PR

[2022-10-07 07:56] kb-s commented on #70
@SaptarshiSarkar12 as you know README.md file makes a good impact on our project, reading is amazing (what is the website folder doing, is there any info)

[2022-10-07 07:58] SaptarshiSarkar12 commented on #70
No, there isn't any. Ok @kb-s. Assigning you with the task.
Please link this issue to your PR.

[2022-10-07 08:00] SaptarshiSarkar12 commented on #49
How much work has been done @anshulsoni4 ?

[2022-10-07 08:07] kb-s commented on #70
Ok @SaptarshiSarkar12 , thanks for assigning this to me :)

[2022-10-07 08:13] SaptarshiSarkar12 commented on #70
Welcome @kb-s

[2022-10-07 08:43] SaptarshiSarkar12 opened #72 "[BUG] Some items appear smaller in some mobiles"
### Describe the bug

The text in buttons in some parts of the website appears very small. It includes the more info, contact us and Download section containing the three buttons.

### Steps To Reproduce

1. Go to [`Drifty's Website`](https://saptarshisarkar12.github.io/Drifty/) in MS Edge.
2. Press <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>I</kbd> or open `DevTools`.
3. Press <kbd>CTRL</kbd> + <k

[2022-10-07 10:08] anshulsoni4 commented on #49
umm, i have merged 4 PRs so ...

[2022-10-07 10:08] #49 closed

[2022-10-07 10:23] SaptarshiSarkar12 commented on #49
@anshulsoni4 Still, you may contribute as an open-source contribution.

[2022-10-07 12:03] #43 closed

[2022-10-07 16:35] Akshu-on-github commented on #72
I'd like to work on this please!

[2022-10-07 16:57] SaptarshiSarkar12 commented on #72
Ok @Akshu-on-github. Assigning you with the task. Please link this issue to your PR.

[2022-10-08 02:32] Waxer59 opened #77 "[FEATURE] improve the footer links transition"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

make the transition look smoother

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 02:32] #58 closed

[2022-10-08 02:34] #77 closed

[2022-10-08 07:19] SujalSamai opened #80 "[FEATURE] I would like to make the website mobile responsive in the hero section"
### Is your feature request related to a problem? Please describe.

When opening the website from a smartphone or laptop, the hero section seems broken

### Describe the solution you'd like.

I would like to make it responsive using flexbox so that the mobile users don't face any problem while using the website.

### Application Version

v1.1.0

### Screenshots

![image](https://user-images.github

[2022-10-08 07:25] SaptarshiSarkar12 commented on #80
Ok @SujalSamai. Assigning you with the task. Please link this issue to your PR.

[2022-10-08 08:09] SaptarshiSarkar12 commented on #80
Please fix this one also -

![image](https://user-images.githubusercontent.com/105960032/194697333-57736558-d4f8-41d6-ad97-ccd6a27e57bb.png)

[2022-10-08 08:10] BoseSj opened #81 "Reorganising badges in README.MD[DOCS]"
### How would you improve the documentation? Please describe.

It d look good if the badge are in a more organized manner. And moved to prior to the introduction section.

### Additional information

_No response_

[2022-10-08 08:11] #81 closed

[2022-10-08 08:41] SujalSamai commented on #80
Sure I'll do

[2022-10-08 08:43] SaptarshiSarkar12 commented on #80
Thanks, waiting for your Pull Request.

[2022-10-08 08:46] koder-aritra opened #82 "Add Stars And Forks in the footer of the website"
### Is your feature request related to a problem? Please describe.

NA

### Describe the solution you'd like.

I will add the count of the number of forks and stars of your repository in the footer section of your website.

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information
If approved please assign this issue to me.

[2022-10-08 08:54] SaptarshiSarkar12 commented on #82
ok @koder-aritra . Great feature @koder-aritra! Please make a feature to display the avatar of a random contributor to this repo, showing thanks to them for contributing, at the bottom of the website. It will look good perhaps. What do you suggest?

Please link this issue to your PR.

[2022-10-08 08:54] SaptarshiSarkar12 commented on #82
Please leave a star if you liked this project.

[2022-10-08 08:57] koder-aritra commented on #82
Please let me add only the count of the forks and stars of the repo.

[2022-10-08 09:00] SaptarshiSarkar12 commented on #82
ok

[2022-10-08 12:16] Ishika-jain commented on #1
hey sorry, I'm sorry, I am having difficulty doing it, feel free to unassign me.

[2022-10-08 13:31] frypan01 opened #83 "Edit Buttons![FEATURE]"
### Is your feature request related to a problem? Please describe.

Button animation have  an  unfinished kind if look ! as if stuck or in loop ,and the on hover animation and change in color does not match with color scheme of the entire website.

### Describe the solution you'd like.

I would love to add a much smoother on hover animation and better colors to buttons.

### Application Version

v

[2022-10-08 13:38] MashiBan opened #84 "Make a better footer![FEATURE]"
### Is your feature request related to a problem? Please describe.

The footer looks kind of very basic and unfinished, also the hero section text is simple .

### Describe the solution you'd like.

I would like to change the footer and remove the red color after effect with some matching colors. Change the  position of social  media buttons and edit the font in hero section text.

### Application

[2022-10-08 17:48] bhumika-1-3 commented on #83
can u assign me?

[2022-10-08 17:52] #71 closed

[2022-10-08 18:07] SaptarshiSarkar12 commented on #1
Ok @Ishika-jain

[2022-10-08 18:08] SaptarshiSarkar12 commented on #1
@poshi1865  How much work has been done ?

[2022-10-08 18:09] SaptarshiSarkar12 commented on #84
@frypan01 Ok assigning you with the task. Please link this issue to your PR.

[2022-10-08 18:11] SaptarshiSarkar12 commented on #83
@frypan01 Do you want to work on this issue?  Else I would assign @bhumika-1-3 with the task.

[2022-10-08 19:38] KIET7UKE opened #87 "[FEATURE] Would add a contact form"
### Is your feature request related to a problem? Please describe.

Many "Aalsi" peoples may never click on the email or Twitter buttons for contacting to the admin for a short message.

### Describe the solution you'd like.

I want to add a contact form in the contact section of the website so that visitors can easily get back to the admin.

### Application Version

v1.1.0

### Screenshots

_No r

[2022-10-08 19:39] frypan01 commented on #83
yes !! I would love to

[2022-10-08 23:25] MashiBan opened #88 "Edit Nav Bar [FEATURE]"
### Is your feature request related to a problem? Please describe.

Nav Bar is too dark and blocks the view to the content!

### Describe the solution you'd like.

Edit the Nav Bar with a sleek design to compliment the theme of website.

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 01:02] SaptarshiSarkar12 commented on #88
@frypan01 Do you want to work on this issue?

[2022-10-09 01:04] SaptarshiSarkar12 commented on #83
Ok @frypan01 . Please link this issue to your PR.
After @frypan01's PR is reviewed and merged, @bhumika-1-3 , you may modify the chanhes through another PR.

[2022-10-09 01:06] SaptarshiSarkar12 commented on #87
Great idea @KIET7UKE 😄! Do you want to work on this issue?

[2022-10-09 01:08] SaptarshiSarkar12 commented on #87
Great idea @KIET7UKE 😄!
Assigning you with the task. Please link this issue to your PR .

[2022-10-09 01:36] KIET7UKE commented on #87
Thanks man, will do it asap.

[2022-10-09 01:49] SaptarshiSarkar12 commented on #87
Welcome 😄 , waiting for your pull request.

[2022-10-09 03:20] poshi1865 commented on #1
Hi! I just got free today, so I am on it. Will update you soon.

[2022-10-09 03:34] SaptarshiSarkar12 commented on #1
Great @poshi1865 😄! Waiting for the updates.

[2022-10-09 04:50] SujalSamai opened #90 "[BUG] The Download Section has different font than other sections"
### Describe the bug

While all the sections of the website are no using a consistent font-style, the heading section of Downloads is still using some old font, which make it look not consistent with the page style.

### Steps To Reproduce

1. Go to Home Page
2. Scroll to Downloads section
3. Check its Heading
4. See the error

### Expected Behavior

The Download Section's heading should be consis

[2022-10-09 05:00] SaptarshiSarkar12 commented on #90
Great @SujalSamai! Assigning you with the task. Please link this issue to your PR.

[2022-10-09 05:02] manishgupta416 commented on #90
Can you assign to me?

[2022-10-09 05:03] manishgupta416 commented on #88
Can you assign to me, i want to try this?

[2022-10-09 05:04] manishgupta416 commented on #87
Can you assign to me?

[2022-10-09 05:04] manishgupta416 commented on #84
Can you assign to me?

[2022-10-09 05:06] manishgupta416 commented on #72
Can you assign to me?

[2022-10-09 05:06] SaptarshiSarkar12 commented on #84
@frypan01 is already assigned. So, after @frypan01's PR is merged, @manishgupta416, you may open another PR to modify those changes.

[2022-10-09 05:07] SaptarshiSarkar12 commented on #90
@SujalSamai is already assigned. So, after @SujalSamai 's PR is merged, @manishgupta416, you may open another PR to modify those changes.

[2022-10-09 05:09] SaptarshiSarkar12 commented on #72
@Akshu-on-github is already assigned. So, after @Akshu-on-github 's PR is merged, @manishgupta416, you may open another PR to modify those changes. Or, you may open another issue and a PR to make any other changes in any part of the project.

[2022-10-09 05:10] SaptarshiSarkar12 commented on #87
@KIET7UKE is already assigned. So, after @KIET7UKE's PR is merged, @manishgupta416, you may open another PR to modify those changes. Or, you may open another issue and a PR to make any other changes in any part of the project.

[2022-10-09 05:10] SaptarshiSarkar12 commented on #88
Sure @manishgupta416 . Please link this issue to your PR.

[2022-10-09 05:42] bhumika-1-3 opened #91 "[FEATURE] Better UI for the dark mode button"
### Is your feature request related to a problem? Please describe.

Yes. When you click on the dark mode that button blends with the background.

### Describe the solution you'd like.

A sticky Floating button for the dark mode so people can shift modes any where in the page

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-09 05:44] SaptarshiSarkar12 commented on #91
Great @bhumika-1-3 😄! Do you want to work on this issue?

[2022-10-09 05:47] bhumika-1-3 commented on #91
Yes Sure .

[2022-10-09 05:49] SaptarshiSarkar12 commented on #91
ok assigning @bhumika-1-3. Please link this issue to your PR.

[2022-10-09 06:03] KIET7UKE commented on #87
Hey @SaptarshiSarkar12 I have done the task and made an PR https://github.com/SaptarshiSarkar12/Drifty/pull/92,
Kidly check this out

[2022-10-09 06:10] frypan01 commented on #88
I would love to

[2022-10-09 06:21] SaptarshiSarkar12 commented on #88
Ok assigning you @frypan01 .

[2022-10-09 10:58] KIET7UKE commented on #87
Hey @SaptarshiSarkar12 Solved this issue and made a PR https://github.com/SaptarshiSarkar12/Drifty/pull/97
Kidly check this out.

[2022-10-09 12:25] SaptarshiSarkar12 commented on #64
@c99SRS How much work is done?

[2022-10-09 14:20] #91 closed

[2022-10-09 15:14] poshi1865 commented on #1
@SaptarshiSarkar12 so downloading youtube videos is proving to be more difficult that I thought. However, there is a program called youtube-dl which can be used to perform the download. Is it okay if we add youtube-dl as a dependency?

[2022-10-09 17:04] SaptarshiSarkar12 commented on #1
ok then

[2022-10-09 18:40] invad3r07 opened #99 "[OTHER] Fixing manual footer year to dynamic"
### Description

Footer copyright year driven manually for now
So i fixed it to dynamic one

Already created a pr https://github.com/SaptarshiSarkar12/Drifty/pull/98

### Application Version

v1.1.0

### Additional information

Kindly Check and review @SaptarshiSarkar12

[2022-10-09 21:53] c99SRS commented on #64
Hi @SaptarshiSarkar12 I am working on it. Need some discussion with you as well.

[2022-10-10 01:06] thexahmed00 commented on #1
issue resolved?

[2022-10-10 05:11] #99 closed

[2022-10-10 05:18] SaptarshiSarkar12 commented on #1
@thexahmed00 Not yet. @poshi1865 is working on this.

[2022-10-10 05:23] SaptarshiSarkar12 commented on #64
Ok @c99SRS, we shall discuss on this. Do you want to discuss here or on any other platform like discord, twitter etc.?

[2022-10-10 06:13] divyanshiet opened #100 "designing"
### Description

contact us part and part below it should be merged under another heading since some part are common among them, it made your site less complex and beautiful

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-10 06:16] SaptarshiSarkar12 commented on #100
Great @divyanshiet! Do you want to work on this issue?

[2022-10-10 06:50] i-ujjwaljha opened #101 "[BUG] Non functioning About button"
### Describe the bug

When we click the 'About' button, we aren't getting any response. I would like to fix that bug and if required I can also add an about section to it.

### Steps To Reproduce

1. Go to the 'About' button.
2. Click on it.
3. The button is getting clicked but isn't directing the user anywhere.

### Expected Behavior

_No response_

### Operating System

Windows

### Application

[2022-10-10 07:04] SaptarshiSarkar12 commented on #101
Yes @i-ujjwaljha, you can add about section, that will be better. Assigning you with the task. Please link this issue to your PR.

[2022-10-10 07:05] i-ujjwaljha commented on #101
Thank you. Working on it.

[2022-10-10 07:24] SaptarshiSarkar12 commented on #101
@i-ujjwaljha Welcome, please pull the latest changes before you start working on it.

[2022-10-10 08:40] AshwinSatyawan opened #102 "Change the "Download Here" text design."
### Description

![image](https://user-images.githubusercontent.com/40487239/194827832-a917c2f2-41ab-4e89-8cd3-8119b7ccd58e.png)
download button looks weird design-wise

### Application Version

v1.1.0

### Additional information

_No response_

[2022-10-10 08:41] AshwinSatyawan commented on #102
assign to me i have resolved

[2022-10-10 08:42] SaptarshiSarkar12 commented on #102
ok @AshwinSatyawan .

[2022-10-10 08:43] SaptarshiSarkar12 commented on #102
Please link this issue to your PR. @AshwinSatyawan

[2022-10-10 08:53] #102 closed

[2022-10-10 11:45] divyanshiet commented on #100
ya sure @SaptarshiSarkar12

[2022-10-10 12:46] saran1522 opened #107 "[BUG] The Home page para is overlapping to the logo"
### Describe the bug

The home page para is overlapping with the logo.

### Steps To Reproduce

Heading and para need to go a little downwards.

### Expected Behavior

_No response_

### Operating System

Windows

### Application Version

v1.1.0

### Screenshots

<img width="298" alt="Screenshot 2022-10-10 180901" src="https://user-images.githubusercontent.com/90507409/194869497-97562871-f201-4e8e

[2022-10-10 12:47] saran1522 commented on #107
please assign this issue to me under hacktoberfest

[2022-10-10 13:09] prachisharma02 commented on #107
please assign to me for hacktoberfest

[2022-10-10 15:01] c99SRS commented on #64
Yes, discord is fine. please share your discord  details

[2022-10-10 16:36] SaptarshiSarkar12 commented on #100
Ok assigning you with the task. Please link this issue with your PR.

[2022-10-10 16:39] SaptarshiSarkar12 commented on #107
As @saran1522 commented before @prachisharma02, I shall assign @saran1522 .

@prachisharma02 You can modify it after @saran1522's PR is merged. Or, you may work on other part of the project.

[2022-10-10 18:10] saran1522 commented on #107
@SaptarshiSarkar12 Thank you!

[2022-10-10 18:34] JakubPristas commented on #88
Can you assign me to this issue?

[2022-10-10 18:41] SaptarshiSarkar12 commented on #88
@frypan01 is already working on this issue and has already opened a PR (#106) that is currently under review. @JakubPristas You may modify that through another PR. Or, you may work on other parts of this project.

[2022-10-10 18:44] #107 closed

[2022-10-10 18:48] SaptarshiSarkar12 commented on #82
@koder-aritra How much work has been done?

[2022-10-10 18:48] SaptarshiSarkar12 commented on #72
@Akshu-on-github How much work has been completed?

[2022-10-10 20:31] Akshu-on-github commented on #72
@SaptarshiSarkar12 here's a screenshot what I've fixed:
 | Before | After |
|-|-|
| ![image](https://user-images.githubusercontent.com/61582763/194947065-ac9d065b-c857-40a5-9f67-f3cd822c9d35.png) | ![image](https://user-images.githubusercontent.com/61582763/194947127-e5f4cc84-f284-4f83-a92f-c768ad1de6cf.png) |

The bug in the contact us section was pretty much fixed when the number of words was re

[2022-10-11 02:15] SaptarshiSarkar12 commented on #72
Great @Akshu-on-github ! Waiting fo your PR.

[2022-10-11 02:34] divyanshiet commented on #100
ok

[2022-10-11 05:50] poshi1865 commented on #1
@SaptarshiSarkar12 Hey! So I am using https://github.com/yt-dlp/yt-dlp, and drifty can now download youtube videos on my ubuntu machine. For drifty to be able to do that, the yt-dlp executable should be in the PATH variable. It is easy to do that with an install on a linux based machine throught the package manager. One can simply run `apt install yt-dlp`. In windows, one will have to download yt-

[2022-10-11 06:46] poshi1865 commented on #1
Also as a side note, the automatic download path detection is broken (atleast for me, I run ubuntu).

[2022-10-11 07:30] poshi1865 opened #111 "[BUG] Automatic detection of downloads folder broken for unix based operating systems"
### Describe the bug

Automatic detection of downloads folder is broken for operating systems where `/` is used as a file separator.

### Steps To Reproduce

1. Start drifty
2. Enter a url
3. When you are asked if you want to download the file in your default downloads folder, press Y.
4. If you are on an os where the directory structure uses the `/` character as a separator, Drifty breaks.

### E

[2022-10-11 09:44] SaptarshiSarkar12 commented on #1
@poshi1865 is there any way to automatically download yt-dlp and automatically add it to the path?

[2022-10-11 09:46] poshi1865 commented on #111
@SaptarshiSarkar12 Yeah I can work on this, please assign me.

[2022-10-11 10:02] #72 closed

[2022-10-11 10:04] SaptarshiSarkar12 commented on #1
@poshi1865 Please see if you can find any fix for this. Then, I shall review #110.

[2022-10-11 10:04] poshi1865 commented on #1
Right now, when a user downloads drifty, the exe is downloaded directly. Instead, what we can do is write a powershell script (for windows) and a bash script (for linux), which the user will download and run. That script will download and install both Drifty and yt-dlp automatically, and add them to the path. This will also ensure that Drifty is able to run from any directory.

[2022-10-11 10:07] SaptarshiSarkar12 commented on #1
What if Drifty runs the script through its code? Is it possible?

[2022-10-11 10:32] poshi1865 commented on #1
@SaptarshiSarkar12 Hmmm yes I think that should be possible, I will find out how to do that and update you

[2022-10-11 10:43] SaptarshiSarkar12 commented on #1
Ok @poshi1865

[2022-10-11 10:48] singloon commented on #111
Should the downloads folder be already created?

[2022-10-11 10:50] poshi1865 commented on #1
Is there a reason why you are using an exe file instead of a jar file for windows downloads?

[2022-10-11 10:51] SaptarshiSarkar12 commented on #111
@poshi1865

[2022-10-11 10:52] SaptarshiSarkar12 commented on #111
Yes, it needs to be. Dirfty only detects it and if it fails in it, it asks to enter a directory where the file needs to be downloaded.

[2022-10-11 10:55] SaptarshiSarkar12 commented on #1
@poshi1865 Because the user does not need to run commands. I have thought of creating an executable for macOS and guidelines for running the application in Linux.

[2022-10-11 10:59] poshi1865 commented on #111
There is no necessity because even if it is not present, Drifty will ask for a new location. However, when a new location is entered, Drifty **always** converts it to a windows-like path format (with `\` ). This behaviour is incorrect.

[2022-10-11 11:15] poshi1865 commented on #1
Okay got it. As far as yt-dlp is concerned, we will need to download and store the exe somewhere. The code for that can be put in Drifty but then the yt-dlp executable will be downloaded and put in the same location as the Drifty exe, or somewhere else on the system. I think that will be very messy.

[2022-10-11 11:16] poshi1865 commented on #1
The idea I had earlier was to make an installer for Drifty. This will install drifty and all its dependencies (like yt-dlp) in the user's preferred location and then create a shortcut for them on the desktop. The user will still be able to run Drifty without any commands and this is a much cleaner way to install.

[2022-10-11 11:20] poshi1865 commented on #1
This is how I think most apps on windows are installed.
1. An installer is downloaded.
2. Installer is run to install the app in the user's preferred location.
3. A shortcut is created so that the user can run it in the desktop.

We can have the same flow for Drifty as well.

[2022-10-11 11:24] poshi1865 commented on #1
Also if you are on a windows machine, can you please install yt-dlp [linked here](https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp.exe) and test pr #110 once? I have to know whether it is working on windows or not. You can place the yt-dlp executable in the same directory as Drifty.exe, it should work.

[2022-10-11 11:25] poshi1865 commented on #1
And we will not have to add anything to the path as well.

[2022-10-11 11:29] SaptarshiSarkar12 commented on #1
Great idea! You can work on this if you want.

[2022-10-11 11:29] SaptarshiSarkar12 commented on #1
Ok @poshi1865 Let me check once.

[2022-10-11 11:47] SaptarshiSarkar12 commented on #1
Yeah @poshi1865 , it's working! **But the details of yt-dlp should not be printed in the console as the users won't understand any. Instead, it should be silently downloaded and a progress bar should be present.**
Here are the print statements displayed -
<details>
====================================================================
  _____   _____   _____  ______  _______ __     __
 |  __ \ |  __

[2022-10-11 11:49] poshi1865 commented on #1
Okay, I will fix that.

[2022-10-11 12:16] SaptarshiSarkar12 commented on #1
Yes @poshi1865

[2022-10-11 12:17] SaptarshiSarkar12 commented on #1
Ok.

[2022-10-11 12:26] divyanshiet commented on #100
check your mail @SaptarshiSarkar12

[2022-10-11 12:26] redet-G opened #113 "[FEATURE] The ability to download earlier releases"
### Is your feature request related to a problem? Please describe.

The website currently is only linked to the most recent release. Earlier releases could also be added.

### Describe the solution you'd like.

We could send a request to GitHub to list out release data. we could dynamically render the list of alternative download on the website.

### Application Version

v1.1.0

### Screenshots

_

[2022-10-11 12:28] SaptarshiSarkar12 commented on #113
Great @redet-G ! Do you want to work on this issue?

[2022-10-11 12:33] redet-G commented on #113
Yes!

[2022-10-11 12:37] SaptarshiSarkar12 commented on #100
Checked

[2022-10-11 12:37] SaptarshiSarkar12 commented on #113
Ok. Please link this issue to your Pull request and leave a star if you liked this project. @redet-G

[2022-10-11 13:22] #111 closed

[2022-10-11 13:31] poshi1865 opened #114 "[DOCS] Readme has to be updated to let users/contributors know about yt-dlp"
### How would you improve the documentation? Please describe.

Adding documentation to help user/contributors figure out how to download yt-dlp and run Drifty smoothly.

### Additional information

_No response_

[2022-10-11 13:32] poshi1865 commented on #114
@SaptarshiSarkar12 you can assign this to me.

[2022-10-11 13:33] poshi1865 commented on #114
By the way, while testing #110 did you download yt-dlp and put it in the same directory as the Drifty exe, or did you add it to your path?

[2022-10-11 13:37] poshi1865 opened #115 "[FEATURE] Drifty should show the progress bar while downloading youtube videos, and not output from yt-dlp."
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

Currently Drifty shows the output from yt-dlp while downloading youtube videos. Instead, the progress bar from the ProgressBarThread class should be shown.

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-11 13:54] SaptarshiSarkar12 commented on #114
No, I haven't added it to my path. It was just in the directory where Drifty was run.

[2022-10-11 13:54] SaptarshiSarkar12 commented on #114
Ok @poshi1865 , assigning you.

[2022-10-11 14:04] poshi1865 commented on #115
@SaptarshiSarkar12 I am a little busy right now, will let you know if I can

[2022-10-11 14:18] divyanshiet commented on #100
updated index.html and style.css do check

[2022-10-11 14:27] SaptarshiSarkar12 commented on #115
ok @poshi1865

[2022-10-11 14:29] SaptarshiSarkar12 commented on #100
@divyanshiet Please open a Pull Request.

[2022-10-11 14:55] poshi1865 commented on #114
@SaptarshiSarkar12 Should I also add the link for yt-dlp to the website?

[2022-10-11 15:13] #113 closed

[2022-10-11 17:44] poshi1865 opened #118 "[FEATURE] Download button should download both Drifty and yt-dlp"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

Both the download buttons on the website should download yt-dlp along with Drifty. This will be a temporary change to help users/contributors run Drifty until an installation package is added.

### Application Version

v1.1.0

### Screenshots

_No response_

### Additional info

[2022-10-11 17:45] poshi1865 commented on #118
@SaptarshiSarkar12 you can assign me. I wanted to separate the readme from this issue because that had the documentation label.

[2022-10-11 17:48] SaptarshiSarkar12 commented on #118
ok @poshi1865 .

[2022-10-12 10:35] #80 closed

[2022-10-12 11:30] redet-G commented on #4
@m9m Can you give us an update on your progress?

[2022-10-12 18:26] SaptarshiSarkar12 commented on #4
@redet-G About half of the work has been done.
@m9m has the window layed out and the main elements. They are not connected though.

[2022-10-14 03:07] c99SRS commented on #64
HI @SaptarshiSarkar12 was busy a little bit. unable to find you. can you pls add me. mine is **SmrutiRanjan#8027**

[2022-10-14 09:42] SaptarshiSarkar12 commented on #64
Ok, let me check.

[2022-10-14 10:03] SaptarshiSarkar12 commented on #64
@c99SRS I have sent a friend request, accept that and send a message to start the discussion.

[2022-10-16 05:17] SaptarshiSarkar12 commented on #115
Can you work on this issue @poshi1865 ?

[2022-10-16 12:32] SaptarshiSarkar12 commented on #115
@poshi1865 I have successfully fixed this issue by passing `-q` command to `yt-dlp`. It now prints only the progress bar.
### **There's one problem that errors from `yt-dlp` about the file are not printed.** If anyone wish to solve that, please open an issue for that.

[2022-10-16 12:33] #115 closed

[2022-10-16 12:55] SaptarshiSarkar12 commented on #114
@poshi1865 The user will not need to download yt-dlp manually as I have added that exe file as a part of the jar file as well as the cli exe file and runs quite well.

[2022-10-16 12:56] SaptarshiSarkar12 commented on #114
Closing this issue by that.

[2022-10-16 12:56] #114 closed

[2022-10-16 12:57] SaptarshiSarkar12 commented on #118
@poshi1865 The user will not need to download yt-dlp manually as I have added that exe file as a part of the jar file as well as the cli exe file and runs quite well. Closing this issue by that.

[2022-10-16 12:57] #118 closed

[2022-10-16 12:58] #90 closed

[2022-10-16 13:20] poshi1865 commented on #115
@SaptarshiSarkar12 Okay great!

[2022-10-16 16:14] SaptarshiSarkar12 commented on #115
Can you solve the problem that I have just mentioned?  @poshi1865

[2022-10-16 16:30] poshi1865 commented on #115
Yeah I can, is there an open issue related to that? Or should I create one?

[2022-10-16 17:26] SaptarshiSarkar12 commented on #115
@poshi1865 you need to create an issue for that. Also please comment your name there and i would assign you with the task.

[2022-10-16 17:38] poshi1865 commented on #115
Okay, could you please describe it in detail?

[2022-10-17 02:09] SaptarshiSarkar12 commented on #115
@poshi1865 The errors that `yt-dlp` prints in it's console are not printed by Drifty. One such error that I have encountered is downloading a private YouTube video. `yt-dlp` shows this error -
[code]
But Drifty doesn't print it.

[2022-10-17 08:30] poshi1865 opened #125 "[BUG] Drifty does not show progress bar and errors encountered while downloading youtube videos."
### Describe the bug

 The errors that yt-dlp prints in it's console are not printed by Drifty. For example, while downloading a private YouTube video, yt-dlp shows this error:
`ERROR: [youtube] JGXK_99nc5s: Private video. Sign in if you've been granted access to this video`

Drifty does not show this.

### Steps To Reproduce

1. Run Drifty
2. Paste the link for a private youtube video and try to

[2022-10-17 08:31] poshi1865 commented on #125
@SaptarshiSarkar12 Could I please be assigned to this?

[2022-10-17 09:55] SaptarshiSarkar12 commented on #125
Yes @poshi1865 . Please link this issue to your PR.

[2022-10-17 14:14] poshi1865 commented on #125
@SaptarshiSarkar12 I noticed that the progress bar does not show when ytdlp downloads a video. I only see `Downloading....`

[2022-10-17 16:23] SaptarshiSarkar12 commented on #125
@poshi1865 Please attach a screenshot along with the inputs you have provided which has led to the error.

[2022-10-18 16:58] Kamlesh72 opened #127 "[BUG] Clicking on About does nothing."
### Describe the bug

When we click on Home, Contribute, Download etc.. it goes to specific section. But when we click on About, nothing happens.
It should take us to About section.

### Steps To Reproduce

1. Go to Home page
2. Click About

### Expected Behavior

It should take us on "More Information About Drifty"

### Operating System

MacOS

### Application Version

v1.2.0

### Screenshots

_N

[2022-10-18 17:07] Kamlesh72 commented on #127
Pull request #128

[2022-10-18 18:28] #100 closed

[2022-10-18 18:35] SaptarshiSarkar12 commented on #101
@i-ujjwaljha Please respond else I would review #128 .

[2022-10-18 18:42] SaptarshiSarkar12 commented on #127
@Kamlesh72 As you have opened a duplicate issue of #101, you need to wait for @i-ujjwaljha to respond. If @i-ujjwaljha does not respond within a few days (~2 -3 days maximum), I shall review your PR (#128).

[2022-10-18 19:10] Aditi-1709 commented on #84
I guess the one working on it is inactive so can u assign this to me ?

[2022-10-18 19:14] SaptarshiSarkar12 commented on #84
Yeah sure @Aditi-1709.

[2022-10-18 19:22] Aditi-1709 commented on #88
Can I work on this issue? I will also add the feature to move that navbar button according to the user's choice.

[2022-10-19 03:09] Kamlesh72 commented on #127
Ya sure. Actually I didn't know about that, So I made a duplicate PR.
Well if he doesn't respond I would also like to add an About Section with more Info.

[2022-10-19 08:24] Aditi-1709 commented on #84
Can you exactly specify what changes you expect?

[2022-10-19 10:16] SaptarshiSarkar12 commented on #84
@Aditi-1709 Already @frypan01 has made a PR changing some button transition colours. I shall review that now. If you think you want to bring some good changes to the footer such that it looks visually appealing, you can do so through another PR.

[2022-10-19 11:10] SaptarshiSarkar12 commented on #88
Yes, you may @Aditi-1709.

[2022-10-19 15:22] poshi1865 commented on #125
![Drifty bug](https://user-images.githubusercontent.com/63964405/196734631-33196fe8-0fbe-4ee6-a442-80cd069efe9a.jpeg)

[2022-10-19 15:23] poshi1865 commented on #125
@SaptarshiSarkar12 This is what I was talking about

[2022-10-19 17:57] SaptarshiSarkar12 commented on #125
@poshi1865 Yes, then it's surely a bug. Please open an issue and you _may_ comment there if you want to work on that.
Thanks for reporting !

[2022-10-19 17:59] SaptarshiSarkar12 commented on #125
Or you may make those changes through the same PR linked to this issue, just modify the description of this issue accordingly.

[2022-10-19 18:20] poshi1865 commented on #125
Yeah I just did this, will make a pr soon.

[2022-10-19 18:34] SaptarshiSarkar12 commented on #125
Great @poshi1865!

[2022-10-20 13:52] codedmachine111 opened #136 "[FEATURE] Enhancing the styling of social media icons in the footer."
Hello @SaptarshiSarkar12 . I would love to contribute by adding a better styling of fill-in appropriate color effect to the social media icons in the footer. Kindly assign me this issue.

### Description

I would love to contribute by adding a decent, yet attractive styling with hover effects to the social media icons in the footer.

### Application Version

v1.2.0

[2022-10-20 17:59] poshi1865 commented on #125
https://user-images.githubusercontent.com/63964405/197023479-68e6ccfb-008a-4f5b-96be-23f2a235beea.mp4

@SaptarshiSarkar12 does this look Ok?

[2022-10-20 18:48] SaptarshiSarkar12 commented on #125
@poshi1865 Please send the jar. I need to check it once after converting it into exe file.

[2022-10-20 18:51] SaptarshiSarkar12 commented on #136
ok @codedmachine111 , assigning you with the task.

[2022-10-20 19:25] poshi1865 commented on #125
@SaptarshiSarkar12 I have mailed you a gdrive link to the jar file

[2022-10-20 19:30] SaptarshiSarkar12 commented on #125
ok @poshi1865 shall check it and let you know if it works.

[2022-10-21 13:41] poshi1865 commented on #125
@SaptarshiSarkar12 Hi! Any update?

[2022-10-21 17:30] SaptarshiSarkar12 commented on #125
Not checked due to repair of my laptop. @poshi1865

[2022-10-21 17:30] SaptarshiSarkar12 commented on #125
Shall inform you @poshi1865 😄

[2022-10-21 17:55] SaptarshiSarkar12 commented on #101
As @i-ujjwaljha is not responding, i am going to review #128 and shall close this issue.

[2022-10-21 17:55] #101 closed

[2022-10-22 04:14] AmanS369 opened #139 "Adding A alert Box while Downloading"
Adding A alert Box while Downloading.

[2022-10-22 05:21] #139 closed

[2022-10-22 10:12] redet-G opened #141 "[FEATURE] Loading release note on demand on download section"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

Adding more information like the release note, download count and file size on demand perhaps when clicking on `More` link. The release note is in markdown we need to convert it to html.

### Application Version

v1.2.0

### Screenshots

_No response_

### Additional informatio

[2022-10-22 10:47] SaptarshiSarkar12 commented on #141
@redet-G Do you want to work on this issue?

[2022-10-22 10:49] SaptarshiSarkar12 commented on #82
@koder-aritra How much work has been done?

[2022-10-22 10:50] #136 closed

[2022-10-22 10:52] SaptarshiSarkar12 commented on #64
@c99SRS How much work is done?

[2022-10-22 10:52] SaptarshiSarkar12 commented on #4
@m9m Is is completed?

[2022-10-22 10:53] redet-G commented on #141
Sure

[2022-10-22 10:55] SaptarshiSarkar12 commented on #141
Great @redet-G

[2022-10-22 11:04] SaptarshiSarkar12 commented on #125
Yes @poshi1865 it works successfully on my pc. You may open a PR.

[2022-10-22 13:42] poshi1865 commented on #125
@SaptarshiSarkar12 Done! Please review and let me know. Thanks!

[2022-10-22 16:36] #125 closed

[2022-10-22 16:38] SaptarshiSarkar12 commented on #125
Reviewed #143 @poshi1865 ! 👍

[2022-10-22 19:05] #141 closed

[2022-10-23 09:06] redet-G commented on #4
@m9m Let's put what you have already worked on into a new branch. This way, it is easier to move things faster.
@SaptarshiSarkar12

[2022-10-23 09:20] redet-G opened #145 "[FEATURE] Multithreaded downloading for faster download speed"
### Is your feature request related to a problem? Please describe.

When downloading larger files it is usually great to download the file in multiple channels similar to IDM.

### Describe the solution you'd like.

Upon detecting the file size, confirm that it is above a certain threshold. If the condition is met, it should start multiple downloader threads to download parts of the files. Once al

[2022-10-23 10:32] SaptarshiSarkar12 commented on #145
Great @redet-G, do you want to work on this issue?

[2022-10-23 15:57] SaptarshiSarkar12 commented on #145
### If anyone else wants to work on this issue, please comment below and I shall assign you with the task.

[2022-10-23 16:03] khushigarg1 opened #146 "Text Animations and Footer Design[FEATURE]"
### Is your feature request related to a problem? Please describe.

There is no text animations and there is no design in footer also.

### Describe the solution you'd like.

I would like to add some text animations and footer with wavy effect. Can you assign this issue to me?

### Application Version

v1.2.0

### Screenshots

NA

### Additional information

NA

[2022-10-23 16:15] SaptarshiSarkar12 commented on #146
Yes, you can work on this @khushigarg1 .

[2022-10-23 16:20] SaptarshiSarkar12 commented on #64
Please respond @c99SRS .

[2022-10-23 16:29] khushigarg1 commented on #146
Thank You!

[2022-10-23 17:13] Ansh1Mondal opened #148 "button shadow"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

The buttons required shadows so I provided them to make them look more immersive.

### Application Version

v1.2.2

### Screenshots

![image](https://user-images.githubusercontent.com/84327862/197405627-f0adddb4-6b8b-4736-a8e8-7c27afa3f8f5.png)
![image](https://user-images.gith

[2022-10-23 17:14] Ansh1Mondal commented on #148
#147

[2022-10-23 17:23] #148 closed

[2022-10-23 20:05] Krishnansh5 opened #151 "[FEATURE] Make demonstration video size adjust in the screen"
### Is your feature request related to a problem? Please describe.

The demonstration video on website does not fit into the screen. It can be made responsive

### Describe the solution you'd like.

Make the video size responsive so that it fits the screen properly

### Application Version

v1.2.2

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-23 20:08] Krishnansh5 commented on #151
Also we can add a demo button in nav bar as well

[2022-10-24 02:14] SaptarshiSarkar12 commented on #151
Great @Krishnansh5! Do you want to work on this issue?

[2022-10-24 05:23] Luciferr-18 commented on #127
assign it to me

[2022-10-24 05:46] CaptainTron opened #152 "[FEATURE] add 'Scroll to top' ⬆ on the bottom right side of the website"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

I want to add  'Scroll to top'  ⬆ on the bottom right side of page.

### Application Version

v1.2.2

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 06:45] anantnipunge opened #154 "Update Home Page Footer"
### Description

here i want to add more feature in the footer. please assign me this issue for hacktoberfest. willing to contribute in your project.

### Application Version

v1.2.2

[2022-10-24 06:53] #154 closed

[2022-10-24 07:00] anantnipunge opened #155 "[FEATURE] Add more Feature to home page at footer"
### Is your feature request related to a problem? Please describe.

footer looks incomplete without the following feature.
1 . privacy policy
2 . t & c
3 . career
4 . contact us
5 . partner
6 . community
7 . opportunity

### Describe the solution you'd like.

i think there should have:
1 . privacy policy
2 . t & c
3 . career
4 . contact us
5 . partner
6 . community
7 . opportunity

it will look mo

[2022-10-24 07:00] anantnipunge commented on #155
please assign me this issue and add hacktoberfest label on completion.

[2022-10-24 07:09] SaptarshiSarkar12 commented on #155
Ya sure @anantnipunge .

[2022-10-24 07:11] SaptarshiSarkar12 commented on #152
That's a great idea @CaptainTron!

[2022-10-24 07:16] #152 closed

[2022-10-24 07:17] SaptarshiSarkar12 commented on #127
Ya sure @Luciferr-18 .

[2022-10-24 07:22] anantnipunge commented on #155
thank you working on it. i will submit it soon.

[2022-10-24 07:26] SaptarshiSarkar12 commented on #155
Welcome ❤️ !
Waiting for your PR...

[2022-10-24 07:34] SaptarshiSarkar12 commented on #145
@redet-G Do you want to work on this issue? Please respond.

[2022-10-24 07:57] Akshatjaiswal5 commented on #82
Hey @SaptarshiSarkar12, I would like to work on this issue, Please assign me.

[2022-10-24 08:46] SaptarshiSarkar12 commented on #82
As @koder-aritra is not responding, I am assigning this issue to @Akshatjaiswal5 . If @koder-aritra wants to modify the changes, he may do the same.

[2022-10-24 08:58] radzhiv25 opened #156 "[FEATURE] Improve Navbar"
### Is your feature request related to a problem? Please describe.

Improved Navbar for better visuals

### Describe the solution you'd like.

The navbar can be enhanced and can be made more attractive

### Application Version

v1.2.2

### Screenshots

_No response_

### Additional information

Please consider it under Hacktoberfest

[2022-10-24 09:18] SaptarshiSarkar12 commented on #156
Great issue @radzhiv25 ! Do you want to work on this issue? @radzhiv25

[2022-10-24 09:39] Krishnansh5 commented on #151
Yes I will work on this @SaptarshiSarkar12

[2022-10-24 09:58] radzhiv25 commented on #156
Sure

[2022-10-24 11:01] Krishnansh5 commented on #151
Made a PR for this issue. Please review

[2022-10-24 13:48] SaptarshiSarkar12 commented on #156
Ok, assigning you with the task.

[2022-10-24 13:52] SaptarshiSarkar12 commented on #151
Yes reviewing @Krishnansh5

[2022-10-24 17:43] redet-G commented on #145
alright you can assign this to me

[2022-10-24 17:50] redet-G opened #158 "[BUG] Yes/No input prompts should not exit with an error upon no input"
### Describe the bug

If the use did not respond with Yes/No option and press enter it exits with an exception error.

### Steps To Reproduce

1. Insert a link to download a file
2. When it requests you to rename the just press `enter` key
[code]

### Expected Behavior

The correct behavior would be to set a default response and an enter key would assume the default response.

### Operating System

[2022-10-24 18:09] SaptarshiSarkar12 commented on #145
Ok @redet-G

[2022-10-24 18:11] SaptarshiSarkar12 commented on #158
Thanks for reporting @redet-G !
Do you want to work on this issue ? @redet-G

[2022-10-24 20:30] naXa777 opened #159 "Dockerize Website"
### Description

I propose to containerize your static HTML website. Add Dockerfile and docker-compose.yml to your project's Website module.
More information in the article -> https://tecadmin.net/tutorial/docker-run-static-website
I'm going to follow it step by step. Please assign me to this task.

Read here to learn more about what is Docker and why it's used https://www.docker.com/why-docker/

[2022-10-25 07:08] SaptarshiSarkar12 commented on #159
Yes you can @naXa777 .
Any web server you can use.

[2022-10-25 12:05] SaptarshiSarkar12 commented on #158
ok as @redet-G is not responding I can work on this issue.

[2022-10-25 12:05] SaptarshiSarkar12 commented on #158
Please respond @redet-G else I may work on this issue.

[2022-10-25 12:47] redet-G commented on #158
You can work on this @SaptarshiSarkar12. Thank you for waiting me to response.

[2022-10-25 12:54] SaptarshiSarkar12 commented on #158
ok @redet-G

[2022-10-26 18:08] #155 closed

[2022-10-27 04:41] anantnipunge opened #164 "set padding to the nav-bar items and download section"
### Is your feature request related to a problem? Please describe.

the padding isn't good , because the irrelevant changes in style.css

### Describe the solution you'd like.

i will set padding to the nav-bar item.

### Application Version

v1.2.2

### Screenshots

before:

![image](https://user-images.githubusercontent.com/82041920/198192672-2d7ed962-d439-4047-9735-6b400c7274fd.png)

![image](h

[2022-10-27 07:33] SaptarshiSarkar12 commented on #164
Yeah sure, assigning you with the task. @anantnipunge .

[2022-10-27 07:42] #82 closed

[2022-10-27 07:56] anantnipunge commented on #164
Okay thanks i will push the code.

[2022-10-27 08:00] SaptarshiSarkar12 commented on #164
👍

[2022-10-27 16:53] SaptarshiSarkar12 commented on #156
How much work has been completed? @radzhiv25

[2022-10-27 17:33] #164 closed

[2022-10-27 17:57] anantnipunge commented on #156
can you please assign me this issue ? i would like to work on this issue @SaptarshiSarkar12

[2022-10-27 17:58] radzhiv25 commented on #156
By tomorrow it will be merged

[2022-10-27 18:00] SaptarshiSarkar12 commented on #156
@radzhiv25 has already done the work. So, @anantnipunge you can modify that if you want after @radzhiv25's PR is reviewed.

[2022-10-27 18:01] SaptarshiSarkar12 commented on #156
ok @radzhiv25

[2022-10-27 18:05] anantnipunge commented on #156
ok sure @SaptarshiSarkar12 i will definitely review.

[2022-10-28 07:09] SaptarshiSarkar12 commented on #158
Closing this as it has been fixed by me through https://github.com/SaptarshiSarkar12/Drifty/commit/9baddbdf7e7de344b0d4244fc3d59424f9eebd20 .

[2022-10-28 07:09] #158 closed

[2022-10-28 07:31] SaptarshiSarkar12 commented on #127
As @sharvit18 no longer wants to work on it as he is busy, so, I am unassigning @sharvit18. If anyone wishes to work on it, he/she may comment below.

[2022-10-28 07:43] anantnipunge commented on #127
I'm availabel to work on it please assign me this issue @SaptarshiSarkar12 . Please add hacktoberfest label.

[2022-10-28 07:46] anantnipunge commented on #127
Also please tell me exactly what should i add in about section

[2022-10-28 07:48] SaptarshiSarkar12 commented on #127
The about page will contain my GitHub readme along with my avatar.
@anantnipunge

[2022-10-28 07:50] anantnipunge commented on #127
Ya okay working on it. I will submit it soon

[2022-10-28 07:56] anantnipunge commented on #127
Okay will submit it soon.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Saptarshi Sarkar ***@***.***>
Sent: Friday, October 28, 2022 1:18:33 PM
To: SaptarshiSarkar12/Drifty ***@***.***>
Cc: Anant Nipunge ***@***.***>; Mention ***@***.***>
Subject: Re: [SaptarshiSarkar12/Drifty] [BUG] Clicking on About does nothing. (Issue #127)

Also please tell me exactly

[2022-10-28 12:37] anantnipunge commented on #127
Hello @SaptarshiSarkar12 should i create new div for about page. Or should i only redirect to the readme.md on click `about`

[2022-10-28 14:31] SaptarshiSarkar12 commented on #127
Yes, create a new div. But, **how about creating separate pages for each nav elements (including the about section)? This may decrease load time of the website.** You may do so using another issue.

[2022-10-28 14:36] anantnipunge commented on #127
Okay let me do once. Then you can review it. If it looks good then i will push the code. Otherwise, will work on same section by using another way.

Okay??

[2022-10-28 14:39] SaptarshiSarkar12 commented on #127
ok @anantnipunge

[2022-10-28 19:39] anantnipunge commented on #127
i have created the `About` section please check PR #167 @SaptarshiSarkar12 .

[2022-10-29 04:51] CoderAayush2104 opened #168 "Add animations to the heading."
Please assign this to me. I will do it for you.

[2022-10-29 04:59] SaptarshiSarkar12 commented on #168
ok, assigning you with the task. Please keep performance of the website in mind while you make the changes. @CoderAayush2104

[2022-10-29 05:15] #127 closed

[2022-10-29 05:22] anantnipunge opened #169 "creating new about page"
### Is your feature request related to a problem? Please describe.

about section in home page doesn't look good so want to create new `about` page.

### Describe the solution you'd like.

keeping header and footer same just changing body part which redirect to the new about page

### Application Version

v1.2.2

### Screenshots

![image](https://user-images.githubusercontent.com/82041920/19881548

[2022-10-29 05:23] anantnipunge commented on #169
please assign me this issue @SaptarshiSarkar12

[2022-10-29 05:24] SaptarshiSarkar12 commented on #169
@anantnipunge Please either remove the screenshot or add the screenshot instead of writing `Uploading image.png...`

[2022-10-29 05:24] anantnipunge commented on #127
i have created new issue #169 please assign me this issue. @SaptarshiSarkar12

[2022-10-29 05:27] anantnipunge commented on #169
ok working on it.

[2022-10-29 05:28] SaptarshiSarkar12 commented on #169
👍 🚀

[2022-10-29 05:43] Shreyan-12345 opened #170 "Add animation in Abouts Us"
### Description

suround it with a box and add beautiful animation

### Application Version

v1.2.2

### Additional information

_No response_

[2022-10-29 05:45] Shreyan-12345 commented on #170
pls assign me this task

[2022-10-29 06:01] SaptarshiSarkar12 commented on #170
Ok @Shreyan-12345 assigning you with the task.

[2022-10-29 06:02] SaptarshiSarkar12 commented on #170
You can join our discord server - https://discord.gg/DeT4jXPfkG @Shreyan-12345

[2022-10-29 06:43] IM-TECHNO opened #172 "Add Animation to Header Text"
### Description

Add animation to Header file

### Application Version

v1.2.2

### Additional information

_No response_

[2022-10-29 10:15] IM-TECHNO opened #174 "Optimize Header Animation"
### Description

Optimize Header Animation.

### Application Version

v1.2.2

### Additional information

_No response_

[2022-10-29 10:54] Burekslayer commented on #174
Hello, I would like to contribute to this issue, but I'm not sure what you mean exactly by optimizing?

[2022-10-29 12:03] IM-TECHNO commented on #174
Hello this is actually an continuation of another PR that's being handled by me, refer to #171 . Thank you for your concern

[2022-10-29 16:37] SaptarshiSarkar12 commented on #174
As #174 is a pat of #171, so @IM-TECHNO needs to be assigned.
You may create any other issue regarding Drifty application itself, etc.

[2022-10-29 17:30] #170 closed

[2022-10-29 17:43] #168 closed

[2022-10-29 19:03] #172 closed

[2022-10-30 07:55] #145 closed

[2022-10-30 11:00] #169 closed

[2022-10-30 11:02] SaptarshiSarkar12 commented on #4
@m9m Please respond.

[2022-10-30 14:08] IM-TECHNO opened #180 "Fix Menu Items"
### Description

Fix the menu items as it's not in the correct order per the site. Kindly assign this issue to me.

### Application Version

v1.2.2

### Additional information

_No response_

[2022-10-30 14:36] SaptarshiSarkar12 commented on #180
ok, assigning @IM-TECHNO

[2022-10-30 14:53] IM-TECHNO commented on #180
Fixed. Kindly accept with hacktoberfest label.

[2022-10-30 15:21] SaptarshiSarkar12 commented on #180
@IM-TECHNO please open a PR to my repo, not your forked repo. Else, how can I review it?

[2022-10-30 15:29] IM-TECHNO commented on #180
My mistake. Kindly excuse.

[2022-10-30 15:30] SaptarshiSarkar12 commented on #180
It's okay @IM-TECHNO .

[2022-10-30 15:48] #180 closed

[2022-10-30 16:55] anantnipunge opened #183 "creating separate pages for each nav-element"
### Is your feature request related to a problem? Please describe.

it looks complex having everything in the same page and has high network load for all those different sections to load in one webpage. It is also harder to maintain such large html codes.

### Describe the solution you'd like.

to make it look more cool for user i would like to create new pages for each nav element. The website lo

[2022-10-30 17:45] SaptarshiSarkar12 commented on #183
Sure @anantnipunge.

[2022-10-30 17:46] anantnipunge commented on #183
thanks again woking on it. will submit it soon
@SaptarshiSarkar12

[2022-10-30 17:48] SaptarshiSarkar12 commented on #183
Welcome @anantnipunge

[2022-10-30 19:08] #146 closed

[2022-10-31 04:08] IM-TECHNO opened #186 "Adding a Contact Page"
### Description

Hello, I would like to add an contact page to the website. Kindly assign this issue to me.

### Application Version

v1.2.2

### Additional information

_No response_

[2022-10-31 07:08] SaptarshiSarkar12 commented on #186
Sure @IM-TECHNO, assigning you with the task. Please make a contact form as made in #92 and fix the bug mentioned there.

[2022-10-31 11:56] SaptarshiSarkar12 commented on #159
@naXa777 How much is the work done?

[2022-10-31 11:57] SaptarshiSarkar12 commented on #64
@c99SRS

[2022-10-31 12:16] SaptarshiSarkar12 commented on #87
As @KIET7UKE is busy with his placement interviews and is not able to continue with this, I am closing this issue. This feature is now going to be discussed and processed in #186 .

[2022-10-31 12:16] #87 closed

[2022-10-31 17:29] naXa777 commented on #159
Sorry. The progress is at 0% currently. I'm going to get back to this later.

[2022-11-01 10:26] SaptarshiSarkar12 commented on #159
Ok you my start working on it when you are free. @naXa777

[2022-11-05 07:13] SaptarshiSarkar12 commented on #174
@IM-TECHNO How much work is done?

[2022-11-06 18:01] naXa777 commented on #159
in progress...

[2022-11-06 19:35] naXa777 commented on #159
see PR #189

[2022-11-07 02:52] SaptarshiSarkar12 commented on #159
Shall review it @naXa777 soon. Actually, my computer is under repair, so, shall be reviewing after that.

[2022-11-07 11:53] naXa777 commented on #159
I'm cool with that. Hacktoberfest is over, no hurry :D

[2022-11-07 13:42] SaptarshiSarkar12 commented on #159
Ok @naXa777 , meanwhile you may join our discord Server for the project's Discussions - https://discord.com/invite/DeT4jXPfkG

[2022-11-08 12:48] SaptarshiSarkar12 opened #190 "[FEATURE] Renaming downloaded YouTube videos"
### Is your feature request related to a problem? Please describe.

The youtube videos downloaded through Drifty, has the filename like this `[video_id] video_title`. So, the user has to take great efforts to find the file.

### Describe the solution you'd like.

The feature to rename the downloaded file will help to solve the above problem.

### Application Version

v1.2.2

### Screenshots

_No r

[2022-11-11 17:31] SaptarshiSarkar12 commented on #190
Yup, you xan work on this issue. @varad64

[2022-11-12 18:31] #190 closed

[2022-11-12 18:54] #159 closed